# Core functionality - changes here should be rare!
/src/app.py                   @haohaoranran110
/src/backend/database.py      @haohaoranran110
/src/backend/routers/auth.py  @haohaoranran110

# The frontend will need refactored soon to be more object oriented.
/src/static/   @haohaoranran110
